{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "make asset"
      }
    ],
    "@semantic-release/git",
    [
      "@semantic-release/github",
      {
        "assets": [
          "CHANGELOG.md",
          "README.md",
          "module.zip"
        ]
      }
    ]
  ]
}
